@font-face {
    font-family: 'meriendaregular';
    src: url(font/merienda-regular-webfont.woff2) format('woff2'),
        url(font/merienda-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font: 18px/36px;
    font-family: 'meriendaregular';
    background-image: url(dedy-kurniawan-wVPk6be5ZSo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    animation: bgimg .8s ease-in-out;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.2);
    /* Ubah nilai alpha (0.3) untuk mengatur tingkat transparansi */
    z-index: -1;
    animation: bgimg .8s ease-in-out;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: 30px 0;
    text-shadow: 5px 10px 10px rgb(85, 85, 85);
    color: rgb(255, 255, 255)
}

.container {
    width: 600px;
    background-color: rgba(206, 214, 224, 0.616);
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid grey;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}

.gallery li,
.gallery li a img,
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: white;
    text-shadow: 1px 1px 1px rgb(206, 206, 206);
    opacity: 0;
    transition: 0.3s;
    transform: scale(.6) translateY(50px);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) translate(0);
}

.thumb {
    height: 120px;
    width: 120px;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 40px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
    max-height: 100%;
    /* Agar responsif dengan window biasakan pakai persen ya manis */
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.514);
}

.overlay:target img {
    animation: zoomfade 0.8s;
}

.overlay .close img {
    height: 10%;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.overlay:target .close {
    animation: close 1.8s ease-in-out;
}

/* navigasi */

.next {
    height: 10%;
    width: auto;
    position: absolute;
    right: 10%;
    top: 45%;
    animation: close 1.8s ease-in-out;
}

.back {
    height: 10%;
    width: auto;
    position: absolute;
    left: 10%;
    top: 45%;
    animation: close 2s ease-in-out;
}

/* animasi */
@keyframes zoomfade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes close {
    0% {
        transform: scale(0.6) translateY(50px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes bgimg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}