.navbar {
  background-color: #0984e3;
}
.foot-bg {
  background-color: #0984e3;
}
.jumbotron {
  background-color: rgba(13, 132, 224, 0.2);
  padding-top: 6rem;
}
.jumbotron img {
  max-width: 13%;
  max-height: 13%;
  /* border-radius: 50%; */
}
.bg-projects {
  background-color: rgba(13, 132, 224, 0.2);
}
.bgborder {
  background-color: rgba(13, 132, 224, 0.2);
  border-radius: 10px;
  padding: 20px;
}
.gallery-img {
  width: 100%;
  height: 100%;
}

#Gallery .row > * {
  padding: 0;
}

.mbottom {
  margin-bottom: 300px;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 40px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
  max-height: 100%;
  max-width: 100%;
  /* Agar responsif dengan window biasakan pakai persen ya manis */
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.514);
}

.overlay:target img {
  animation: zoomfade 0.8s;
}

.overlay .close img {
  height: 10%;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay:target .close {
  animation: close 1.8s ease-in-out;
}

.next {
  height: 10%;
  width: auto;
  position: absolute;
  right: 10%;
  top: 45%;
  animation: close 1.8s ease-in-out;
}

.back {
  height: 10%;
  width: auto;
  position: absolute;
  left: 10%;
  top: 45%;
  animation: close 2s ease-in-out;
}

/* animasi */
@keyframes zoomfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    transform: scale(0.6) translateY(50px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
/* Akhir Overlay */

/* my 3d */
.dddbox {
  position: relative;
  background-color: #0984e3;
  border-radius: 10px;
  height: 470px;
  transform-style: preserve-3d;
}
.dddbox::before {
  content: "MY";
  position: absolute;
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}
.dddbox:hover::before {
  opacity: 0.2;
}
.dddbox::after {
  content: "Tilt 3D";
  position: absolute;
  color: white;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  left: 41%;
  transform: translateX(-38%);
  top: 300px;
  opacity: 0;
  transition: 0.5s;
}
.dddbox:hover::after {
  opacity: 0.2;
}
.ddd1 {
  color: white;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translate3d(0, 0, 50px);
}
.dddbox:hover .ddd1 {
  top: 20px;
  opacity: 1;
}
.dbutton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
  z-index: 4;
}
.dddbox:hover .dbutton {
  opacity: 1;
  bottom: 20px;
}
.iconddd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  max-width: 200px;
  transition: 0.5s;
  z-index: 10;
}
.dddbox:hover .iconddd {
  transform: translate3d(-50%, -52%, 80px) rotate(5deg) scale(1.2);
}
/* my 3d */
